body {
    margin: 0;
}

#container {
    background-color: tomato;
    max-width: 960px;
    height: auto;
    margin-top: 15vh;
    padding: 1rem;


}

.table-body {
    border: 1px solid #11ff22;
    padding: 10px;
    margin: 10px;

}

.btn {
    padding: 0.1rem;

}

.btn:hover {
    background-color: #99e4f7;
    transform: scale(1.06);
}

.btn:focus {
    border: none;
}